.contact {
    min-height: 100vh;
  }
  .contact-main {
    min-height: 67vh;
    width: 100%;
    background: url("https://images.pexels.com/photos/2710043/pexels-photo-2710043.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .contact-text {
    min-height: 90vh;
  }
  .contact-location {
    height: 60vh;
    width: 100%;
    margin-top: 7rem;
  }
  .contact-location-text {
    min-width: 85%;
    display: flex;
    justify-content: flex-start;
    font-size: 1.4rem;
    margin: auto;
    height: 3rem;
    font-weight: 500;
  }
  .contact-location-box {
    min-height: 60vh;
    width: 85%;
    background-color: rgb(204, 248, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .contact-message {
    min-height: 90vh;
    width: 100%;
    margin-top: 4rem;
  }
  .contact-message-text {
    height: 2.4rem;
    width: 85%;
    display: flex;
    justify-content: flex-start;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
    position: relative;
  }
  .contact-message-text::before {
    content: "";
    left: 0;
    bottom: 0;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: rgb(216, 216, 216);
  }
  .contact-message-box {
    min-height: 80vh;
    width: 85%;
    display: flex;
    justify-content: flex-start;
    margin: auto;
    flex-direction: column;
  }
  .contact-message-box1,
  .contact-message-box2,
  .contact-message-box3,
  .contact-message-box4 {
    margin-top: 2rem;
    margin-left: 4rem;
    font-size: 1rem;
    color: rgb(53, 51, 51);
  }
  .contact-message-box1 input {
    margin-left: 2.7rem;
    width: 92%;
    padding: 0.5rem 0;
    border-radius: 0.2rem;
    border: 1px solid grey;
  }
  .contact-message-box2 input {
    margin-left: 2.9rem;
    width: 92%;
    padding: 0.5rem 0;
    border-radius: 0.2rem;
    border: 1px solid grey;
  }
  .contact-message-box3 input {
    margin-left: 2.6rem;
    width: 92%;
    padding: 0.5rem 0;
    border: 1px solid grey;
}
.contact-message-box4 input {
    margin-left: 2.6rem;
    width: 91.5%;
    padding: 5rem 0;
    border-radius: 0.2rem;
    border: 1px solid grey;
  }
  .contact-message-box4 label {
    display: flex;
    justify-content: flex-start;
  }
  .contact .button {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .contact .button button {
    padding: 0.8rem 1.8rem;
    border-radius: 1.4rem;
    margin-bottom: 2rem;
    border: none;
    background-color: #05071b;
    color: white;
  }
  