.shopcomponent {
  height: 65vh;
  border-radius: 25px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  width: 18rem;
  margin: 0 1rem;
}

.shop-component-image {
  height: 50%;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: url("https://images.unsplash.com/photo-1552519507-da3b142c6e3d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}


.shop-component-image > div{
    display: inline-block;
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .2s ease-in-out;
}
.shop-component-image:hover > div{
    transform: translateX(0%);
    opacity: 1;
    
}


.shop-component-review,
.shop-component-title,
.shop-component-price,
.shop-component-button {
  width: 90%;
  display: flex;
  align-items: center;
  margin: auto;
  height: 10%;
  position: relative;
}

.shop-component-review::after,
.shop-component-title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: rgba(128, 128, 128, 0.3);
  bottom: 0;
  left: 0;
}

.shop-component-price {
  color: red;
}
.shop-component-button {
  justify-content: center;
}
.shop-component-button button {
  border: none;
  outline: none;
  padding: 0.8rem 3rem;
  border-radius: 25px;
}


@media (max-width:900px)
{

  .shopcomponent{
    min-height: 40vh;
    width: 12rem;
  }
}


